.reserva-de-imvel-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ebebeb;
}
.reserva-de-imvel-container1 {
  width: 70%;
  height: auto;
  display: flex;
  margin-top: 50px;
  align-items: center;
  border-color: #344279;
  justify-content: center;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
.reserva-de-imvel-text {
  color: #344279;
  font-size: 36px;
  border-color: #344279;
}
.reserva-de-imvel-container2 {
  width: 70%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.reserva-de-imvel-text1 {
  color: #344279;
  font-seize: 18px;
  margin-top: 50px;
}
.reserva-de-imvel-textinput {
  width: 50%;
  height: auto;
  margin-top: 5px;
}
.reserva-de-imvel-text2 {
  color: #344279;
  font-size: 18px;
  margin-top: 50px;
}
.reserva-de-imvel-textinput1 {
  width: 50%;
  height: 45px;
  margin-top: 5px;
}
.reserva-de-imvel-text3 {
  color: #344279;
  font-size: 18px;
  margin-top: 50px;
}
.reserva-de-imvel-select {
  width: 50%;
  height: var(--dl-size-size-small);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
}
.reserva-de-imvel-text4 {
  color: #344279;
  font-size: 18px;
  margin-top: 50px;
}
.reserva-de-imvel-select1 {
  width: 50%;
  height: var(--dl-size-size-small);
  border-color: Black (Gray);
  border-width: 1px;
}
.reserva-de-imvel-button {
  color: var(--dl-color-gray-white);
  width: 28%;
  height: var(--dl-size-size-small);
  margin-top: 120px;
  border-width: 0;
  border-radius: 20px;
  margin-bottom: 50px;
  background-color: #320585;
}
@media(max-width: 1200px) {
  .reserva-de-imvel-container2 {
    width: 70%;
    height: auto;
  }
}
